.navbar-right {
	position: relative;
	top: 20px;
}

.addMember {
	color: #777777;
}

#shareButton {
	padding: 0;
	margin-top: 10px;
	font-weight: bold;
}

ul.shareInput{
	padding: 0 !important;
	margin-top: 10px !important;
}

.orgTable{
	width: 100%;
}