<div class="container-fluid">
	<h2 class="page-header orgTitle">Organizations</h2>
	
</div>

<div class="container-fluid">
	<div class="row">
		<table class="orgTable">
			<tr>
				<th>Name</th>
				<th><button type="button" class="btn navbar-right addOrgButton">Add New Organizations</button></th>
			</tr>
			<tr *ngFor="let organization of organizations; trackBy: organization">
				<td>{{ organization.name }}</td>
				<td><button type="button" class="btn navbar-right addOrgButton">Edit</button><button type="button" class="btn navbar-right addOrgButton" [routerLink]="['/setup/']">Setup</button></td>
				
			</tr>
		</table>
	</div>
	
</div>
